[Desktop Entry]
Name=AppImageUpdate
Type=Application
Icon=appimage
Exec=AppImageUpdate
Comment=Update applications distributed in AppImage format
Categories=Utility;
